body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1b4062;
  font-family: 'Lato';
}

.upper {
  text-transform: uppercase;
}

.text-dark-blue {
  color: #1b4062;
}

.container-loader {
  height: 50vh;
}

.loader {
  animation: spin infinite 1s linear;
  height: 50%;
}

.aggregator-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.active-media,
.app-nav-main {
  background-color: #8DC6E8!important;
}

.article-img {
  width: 100%;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive {
  cursor: pointer;
}

.video-wrapper, .video-list-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper {
  width: 75%;
}

.video-list-wrapper {
  text-align: left;
  font-size: 0.75em;
  width: 25%;
  padding-left: 10px;
}

.video-list-wrapper ul {
  padding-left: 4px;
}

.video-list-item {
  cursor: pointer;
  flex-direction: column;
}

.video-wrapper iframe,
.video-list-wrapper ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.video-thumbnail {
  width: 100%;
}

.tweet-retweet {
  background-color: #e3f3e7;
}

.tweet-quote {
  background-color: #fff8e1;
}

.tweet-reply {
  background-color: #ffccbc;
}

.tweet-reply-self {
  background-color: #eee;
}

@media (max-width: 576px) {
  .youtube-content {
    flex-direction: column;
  }

  .video-list-item {
    flex-direction: row;
  }

  .video-wrapper,
  .video-list-wrapper {
    width: 100%;
  }

  .video-list-wrapper ul {
    padding-top: 4px;
    padding-left: 0;
  }

  .video-details {
    line-height: 1.4em;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
  }

  .video-thumbnail-wrapper {
    width: 30%;
  }
}