body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.article-img {
  width: 100%;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive {
  cursor: pointer;
}

.tweet-retweet {
  background-color: #28a74522;
}

.tweet-quote {
  background-color: #ffc10722;
}

.tweet-reply {
  background-color: #dc354522;
}